openapi: 3.0.3
info:
  title: LucidLayer API
  version: 0.2.0
  description: |
    LucidLayer Offchain API.

    This OpenAPI spec is the source of truth for the actual backend routes.
    It is used to generate SDK clients via Speakeasy.

    Route groups:
    - `/v1/*` — Passports, Match, Run, Receipts, Epochs, Payouts, Compute
    - `/health/*` — System health and dependency checks
    - `/api/agents/*` — AI Agent MMR, Planner, and Orchestrator
servers:
  - url: https://api.lucid.foundation
    description: Production server
# Speakeasy MCP tool generation configuration
x-speakeasy-mcp:
  scope-mapping:
    - pattern: "^(get|list|search)"
      scopes: [read]
    - pattern: "^(verify|check)"
      scopes: [read]
    - pattern: "^(create|update|trigger|submit|commit|retry|run|calculate|init|process|plan|accomplish|execute|validate)"
      scopes: [write]
    - pattern: "^(delete)"
      scopes: [write, destructive]
tags:
  - name: Passports
  - name: Match
  - name: Run
  - name: Receipts
  - name: Epochs
  - name: Payouts
  - name: Compute
  - name: Health
  - name: Agents
paths:
  # ===========================================================================
  # Passports
  # ===========================================================================
  /v1/passports:
    post:
      tags: [Passports]
      operationId: lucid_create_passport
      summary: Create a passport
      x-speakeasy-mcp:
        name: lucid_create_passport
        description: Create a new passport (model/compute/tool/dataset/agent).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePassportRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePassportResponse'
        '400': {$ref: '#/components/responses/BadRequest'}
        '422': {$ref: '#/components/responses/UnprocessableEntity'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.passports.create({
                type: "dataset",
                owner: "<value>",
                metadata: {
                  "key": "<value>",
                  "key1": "<value>",
                  "key2": "<value>",
                },
              });

              console.log(result);
            }

            run();
    get:
      tags: [Passports]
      operationId: lucid_list_passports
      summary: List passports
      x-speakeasy-mcp:
        name: lucid_list_passports
        description: List passports with filtering, sorting, and pagination.
      parameters:
        - in: query
          name: type
          schema:
            oneOf:
              - $ref: '#/components/schemas/PassportType'
              - type: array
                items: {$ref: '#/components/schemas/PassportType'}
        - in: query
          name: owner
          schema: {type: string}
        - in: query
          name: status
          schema:
            oneOf:
              - $ref: '#/components/schemas/PassportStatus'
              - type: array
                items: {$ref: '#/components/schemas/PassportStatus'}
        - in: query
          name: tags
          description: Comma-separated
          schema: {type: string}
        - in: query
          name: tag_match
          schema: {type: string, enum: [all, any]}
        - in: query
          name: search
          schema: {type: string}
        - in: query
          name: page
          schema: {type: integer, minimum: 1}
        - in: query
          name: per_page
          schema: {type: integer, minimum: 1, maximum: 100}
        - in: query
          name: sort_by
          schema: {type: string, enum: [created_at, updated_at, name]}
        - in: query
          name: sort_order
          schema: {type: string, enum: [asc, desc]}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPassportsResponse'
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.passports.list();

              console.log(result);
            }

            run();
  /v1/passports/{passport_id}:
    get:
      tags: [Passports]
      operationId: lucid_get_passport
      summary: Get a passport
      x-speakeasy-mcp:
        name: lucid_get_passport
        description: Retrieve a passport by its passport_id.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPassportResponse'
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.passports.get({
                passportId: "<id>",
              });

              console.log(result);
            }

            run();
    patch:
      tags: [Passports]
      operationId: lucid_update_passport
      summary: Update a passport
      x-speakeasy-mcp:
        name: lucid_update_passport
        description: Update an existing passport by passport_id.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: {type: string}
        - in: header
          name: X-Owner-Address
          required: false
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePassportRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPassportResponse'
        '400': {$ref: '#/components/responses/BadRequest'}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.passports.update({
                passportId: "<id>",
                body: {},
              });

              console.log(result);
            }

            run();
    delete:
      tags: [Passports]
      operationId: lucid_delete_passport
      summary: Delete a passport (soft delete)
      x-speakeasy-mcp:
        name: lucid_delete_passport
        description: Soft-delete a passport by passport_id.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: {type: string}
        - in: header
          name: X-Owner-Address
          required: false
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, deleted]
                properties:
                  success: {type: boolean}
                  deleted: {type: boolean}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.passports.delete({
                passportId: "<id>",
              });

              console.log(result);
            }

            run();
  /v1/passports/{passport_id}/sync:
    post:
      tags: [Passports]
      operationId: lucid_trigger_passport_sync
      summary: Trigger on-chain sync for a passport
      x-speakeasy-mcp:
        name: lucid_trigger_passport_sync
        description: Trigger on-chain sync for a passport.
      parameters:
        - in: path
          name: passport_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success: {type: boolean}
                  on_chain_pda: {type: string, nullable: true}
                  on_chain_tx: {type: string, nullable: true}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.passports.sync({
                passportId: "<id>",
              });

              console.log(result);
            }

            run();
  /v1/passports/pending-sync:
    get:
      tags: [Passports]
      operationId: lucid_list_passports_pending_sync
      summary: Get passports pending sync
      x-speakeasy-mcp:
        name: lucid_list_passports_pending_sync
        description: List passports that are pending on-chain sync.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, count, passports]
                properties:
                  success: {type: boolean}
                  count: {type: integer}
                  passports:
                    type: array
                    items: {$ref: '#/components/schemas/Passport'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.passports.listPendingSync();

              console.log(result);
            }

            run();
  /v1/passports/stats:
    get:
      tags: [Passports]
      operationId: lucid_get_passport_stats
      summary: Passport statistics
      x-speakeasy-mcp:
        name: lucid_get_passport_stats
        description: Get passport statistics.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassportStatsResponse'
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.passports.getStats();

              console.log(result);
            }

            run();
  /v1/models:
    get:
      tags: [Passports]
      operationId: lucid_search_models
      summary: Search model passports
      x-speakeasy-mcp:
        name: lucid_search_models
        description: Search model passports (ModelMeta filters).
      parameters:
        - in: query
          name: runtime
          schema: {type: string}
        - in: query
          name: format
          schema: {type: string}
        - in: query
          name: max_vram
          schema: {type: integer}
        - in: query
          name: owner
          schema: {type: string}
        - in: query
          name: tags
          schema: {type: string}
        - in: query
          name: search
          schema: {type: string}
        - in: query
          name: page
          schema: {type: integer, minimum: 1}
        - in: query
          name: per_page
          schema: {type: integer, minimum: 1, maximum: 100}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, models, pagination]
                properties:
                  success: {type: boolean}
                  models:
                    type: array
                    items: {$ref: '#/components/schemas/Passport'}
                  pagination: {$ref: '#/components/schemas/Pagination'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.passports.searchModels();

              console.log(result);
            }

            run();
  /v1/compute:
    get:
      tags: [Compute]
      operationId: lucid_search_compute
      summary: Search compute passports
      x-speakeasy-mcp:
        name: lucid_search_compute
        description: Search compute passports (ComputeMeta filters).
      parameters:
        - in: query
          name: regions
          schema: {type: string}
        - in: query
          name: runtimes
          schema: {type: string}
        - in: query
          name: provider_type
          schema: {type: string}
        - in: query
          name: min_vram
          schema: {type: integer}
        - in: query
          name: gpu
          schema: {type: string}
        - in: query
          name: owner
          schema: {type: string}
        - in: query
          name: tags
          schema: {type: string}
        - in: query
          name: search
          schema: {type: string}
        - in: query
          name: page
          schema: {type: integer, minimum: 1}
        - in: query
          name: per_page
          schema: {type: integer, minimum: 1, maximum: 100}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, compute, pagination]
                properties:
                  success: {type: boolean}
                  compute:
                    type: array
                    items: {$ref: '#/components/schemas/Passport'}
                  pagination: {$ref: '#/components/schemas/Pagination'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.compute.searchCompute();

              console.log(result);
            }

            run();
  /v1/tools:
    get:
      tags: [Passports]
      operationId: lucid_list_tools
      summary: List tool passports
      x-speakeasy-mcp:
        name: lucid_list_tools
        description: List active tool passports with optional filtering.
      parameters:
        - in: query
          name: owner
          schema: {type: string}
        - in: query
          name: tags
          description: Comma-separated
          schema: {type: string}
        - in: query
          name: search
          schema: {type: string}
        - in: query
          name: page
          schema: {type: integer, minimum: 1}
        - in: query
          name: per_page
          schema: {type: integer, minimum: 1, maximum: 100}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, tools, pagination]
                properties:
                  success: {type: boolean}
                  tools:
                    type: array
                    items: {$ref: '#/components/schemas/Passport'}
                  pagination: {$ref: '#/components/schemas/Pagination'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.passports.lucidListTools();

              console.log(result);
            }

            run();
  /v1/datasets:
    get:
      tags: [Passports]
      operationId: lucid_list_datasets
      summary: List dataset passports
      x-speakeasy-mcp:
        name: lucid_list_datasets
        description: List active dataset passports with optional filtering.
      parameters:
        - in: query
          name: owner
          schema: {type: string}
        - in: query
          name: tags
          description: Comma-separated
          schema: {type: string}
        - in: query
          name: search
          schema: {type: string}
        - in: query
          name: page
          schema: {type: integer, minimum: 1}
        - in: query
          name: per_page
          schema: {type: integer, minimum: 1, maximum: 100}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, datasets, pagination]
                properties:
                  success: {type: boolean}
                  datasets:
                    type: array
                    items: {$ref: '#/components/schemas/Passport'}
                  pagination: {$ref: '#/components/schemas/Pagination'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.passports.lucidListDatasets();

              console.log(result);
            }

            run();
  /v1/agents:
    get:
      tags: [Passports]
      operationId: lucid_list_agent_passports
      summary: List agent passports
      x-speakeasy-mcp:
        name: lucid_list_agent_passports
        description: List active agent passports with optional filtering.
      parameters:
        - in: query
          name: owner
          schema: {type: string}
        - in: query
          name: tags
          description: Comma-separated
          schema: {type: string}
        - in: query
          name: search
          schema: {type: string}
        - in: query
          name: page
          schema: {type: integer, minimum: 1}
        - in: query
          name: per_page
          schema: {type: integer, minimum: 1, maximum: 100}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agents, pagination]
                properties:
                  success: {type: boolean}
                  agents:
                    type: array
                    items: {$ref: '#/components/schemas/Passport'}
                  pagination: {$ref: '#/components/schemas/Pagination'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.passports.lucidListAgentPassports();

              console.log(result);
            }

            run();
  # ===========================================================================
  # Match
  # ===========================================================================
  /v1/match/explain:
    post:
      tags: [Match]
      operationId: lucid_match_explain
      summary: Evaluate policy against compute/model meta
      x-speakeasy-mcp:
        name: lucid_match_explain
        description: Evaluate a policy against compute & model metadata and explain the decision.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                policy: {$ref: '#/components/schemas/Policy'}
                compute_meta: {$ref: '#/components/schemas/ComputeMeta'}
                model_meta: {$ref: '#/components/schemas/ModelMeta'}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, allowed, reasons, policy_hash]
                properties:
                  success: {type: boolean}
                  allowed: {type: boolean}
                  reasons:
                    type: array
                    items: {type: string}
                  policy_hash: {type: string}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.match.explain({});

              console.log(result);
            }

            run();
  /v1/match:
    post:
      tags: [Match]
      operationId: lucid_match
      summary: Match compute for model
      x-speakeasy-mcp:
        name: lucid_match
        description: Match compute for a model given a compute catalog and policy constraints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model_meta: {$ref: '#/components/schemas/ModelMeta'}
                policy: {$ref: '#/components/schemas/Policy'}
                compute_catalog:
                  type: array
                  items: {$ref: '#/components/schemas/ComputeMeta'}
                require_live_healthy: {type: boolean, default: true}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, match, explain]
                properties:
                  success: {type: boolean}
                  match: {type: object, additionalProperties: true}
                  explain: {type: object, additionalProperties: true}
        '422': {$ref: '#/components/responses/UnprocessableEntity'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.match.compute({});

              console.log(result);
            }

            run();
  /v1/route:
    post:
      tags: [Match]
      operationId: lucid_route
      summary: Plan a route (match + resolve endpoint)
      x-speakeasy-mcp:
        name: lucid_route
        description: Match + resolve an executable inference endpoint for a model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model_meta: {$ref: '#/components/schemas/ModelMeta'}
                policy: {$ref: '#/components/schemas/Policy'}
                compute_catalog:
                  type: array
                  items: {$ref: '#/components/schemas/ComputeMeta'}
                request_id: {type: string}
                require_live_healthy: {type: boolean, default: true}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, route, explain]
                properties:
                  success: {type: boolean}
                  request_id: {type: string}
                  route:
                    type: object
                    properties:
                      compute_passport_id: {type: string}
                      model_passport_id: {type: string}
                      endpoint: {type: string}
                      runtime: {type: string}
                      policy_hash: {type: string}
                      fallbacks:
                        type: array
                        items: {type: object, additionalProperties: true}
                  explain: {type: object, additionalProperties: true}
        '422': {$ref: '#/components/responses/UnprocessableEntity'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.match.planRoute({});

              console.log(result);
            }

            run();
  # ===========================================================================
  # Run / Inference
  # ===========================================================================
  /v1/run/inference:
    post:
      tags: [Run]
      operationId: lucid_run_inference
      summary: Run inference (optionally streaming via SSE)
      x-speakeasy-mcp:
        name: lucid_run_inference
        description: |
          Run inference through LucidLayer.
          NOTE: streaming responses may not be supported by all MCP clients.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferenceRequest'
      responses:
        '200':
          description: Non-streaming inference result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferenceResult'
        '422': {$ref: '#/components/responses/UnprocessableEntity'}
        '503': {$ref: '#/components/responses/ServiceUnavailable'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.run.inference({});

              console.log(result);
            }

            run();
  /v1/chat/completions:
    post:
      tags: [Run]
      operationId: lucid_chat_completions
      summary: OpenAI-compatible chat completions
      x-speakeasy-mcp:
        name: lucid_chat_completions
        description: OpenAI-compatible chat completions routed through LucidLayer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Chat completion response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.run.chatCompletions({
                model: "Alpine",
                messages: [],
              });

              console.log(result);
            }

            run();
  # ===========================================================================
  # Compute live-state
  # ===========================================================================
  /v1/compute/nodes/heartbeat:
    post:
      tags: [Compute]
      operationId: lucid_heartbeat
      summary: Submit compute node heartbeat
      x-speakeasy-mcp:
        name: lucid_heartbeat
        description: Submit a compute node heartbeat to update live state.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComputeHeartbeat'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  state: {type: object, additionalProperties: true}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.compute.heartbeat({
                computePassportId: "<id>",
                status: "healthy",
              });

              console.log(result);
            }

            run();
  /v1/compute/nodes/{computePassportId}/health:
    get:
      tags: [Compute]
      operationId: lucid_get_health
      summary: Get compute node health
      x-speakeasy-mcp:
        name: lucid_get_health
        description: Get the current health state of a compute node.
      parameters:
        - in: path
          name: computePassportId
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  state: {type: object, additionalProperties: true}
        '503': {$ref: '#/components/responses/ServiceUnavailable'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.compute.getNodeHealth({
                computePassportId: "<id>",
              });

              console.log(result);
            }

            run();
  # ===========================================================================
  # Receipts
  # ===========================================================================
  /v1/receipts:
    post:
      tags: [Receipts]
      operationId: lucid_create_receipt
      summary: Create a receipt
      x-speakeasy-mcp:
        name: lucid_create_receipt
        description: Create a receipt and append it to the receipt MMR.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReceiptRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, receipt]
                properties:
                  success: {type: boolean}
                  receipt: {$ref: '#/components/schemas/Receipt'}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.receipts.create({
                modelPassportId: "<id>",
                computePassportId: "<id>",
                policyHash: "<value>",
                runtime: "<value>",
                tokensIn: 184620,
                tokensOut: 329999,
                ttftMs: 417264,
              });

              console.log(result);
            }

            run();
  /v1/receipts/{receipt_id}:
    get:
      tags: [Receipts]
      operationId: lucid_get_receipt
      summary: Get a receipt
      x-speakeasy-mcp:
        name: lucid_get_receipt
        description: Retrieve a receipt by receipt_id.
      parameters:
        - in: path
          name: receipt_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, receipt]
                properties:
                  success: {type: boolean}
                  receipt: {$ref: '#/components/schemas/Receipt'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.receipts.get({
                receiptId: "<id>",
              });

              console.log(result);
            }

            run();
  /v1/receipts/{receipt_id}/verify:
    get:
      tags: [Receipts]
      operationId: lucid_verify_receipt
      summary: Verify a receipt (hash + signature + inclusion)
      x-speakeasy-mcp:
        name: lucid_verify_receipt
        description: Verify a receipt (hash + signature + inclusion proof).
      parameters:
        - in: path
          name: receipt_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptVerification'
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.receipts.verify({
                receiptId: "<id>",
              });

              console.log(result);
            }

            run();
  /v1/receipts/{receipt_id}/proof:
    get:
      tags: [Receipts]
      operationId: lucid_get_receipt_proof
      summary: Get inclusion proof for receipt
      x-speakeasy-mcp:
        name: lucid_get_receipt_proof
        description: Get the inclusion proof for a receipt.
      parameters:
        - in: path
          name: receipt_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, proof]
                properties:
                  success: {type: boolean}
                  proof: {$ref: '#/components/schemas/ReceiptProof'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.receipts.getProof({
                receiptId: "<id>",
              });

              console.log(result);
            }

            run();
  /v1/verify/{receipt_hash}:
    get:
      tags: [Receipts]
      operationId: lucid_verify_receipt_by_hash
      summary: Verify receipt by hash with inclusion proof and epoch info
      x-speakeasy-mcp:
        name: lucid_verify_receipt_by_hash
        description: >
          Verify a receipt by its hash. Returns inclusion proof and on-chain anchoring status. Critical P0.9 endpoint for Fluid Compute.

      parameters:
        - in: path
          name: receipt_hash
          required: true
          schema: {type: string, minLength: 64, maxLength: 64}
          description: 64 hex character receipt hash
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptHashVerification'
        '400': {$ref: '#/components/responses/BadRequest'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.receipts.lucidVerifyReceiptByHash({
                receiptHash: "<value>",
              });

              console.log(result);
            }

            run();
  /v1/mmr/root:
    get:
      tags: [Receipts]
      operationId: lucid_get_mmr_root
      summary: Get current MMR root
      x-speakeasy-mcp:
        name: lucid_get_mmr_root
        description: Get the current MMR root and leaf count.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, root, leaf_count]
                properties:
                  success: {type: boolean}
                  root: {type: string}
                  leaf_count: {type: integer}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.receipts.getMmrRoot();

              console.log(result);
            }

            run();
  /v1/signer/pubkey:
    get:
      tags: [Receipts]
      operationId: lucid_get_signer_pubkey
      summary: Get orchestrator signing public key
      x-speakeasy-mcp:
        name: lucid_get_signer_pubkey
        description: Get the orchestrator signing public key.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, pubkey]
                properties:
                  success: {type: boolean}
                  signer_type: {type: string}
                  pubkey: {type: string}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.receipts.getSignerPubKey();

              console.log(result);
            }

            run();
  # ===========================================================================
  # Epochs / anchoring
  # ===========================================================================
  /v1/epochs/current:
    get:
      tags: [Epochs]
      operationId: lucid_get_current_epoch
      summary: Get current epoch
      x-speakeasy-mcp:
        name: lucid_get_current_epoch
        description: Get the current epoch.
      parameters:
        - in: query
          name: project_id
          required: false
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, epoch]
                properties:
                  success: {type: boolean}
                  epoch: {$ref: '#/components/schemas/Epoch'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.epochs.getCurrent();

              console.log(result);
            }

            run();
  /v1/epochs:
    get:
      tags: [Epochs]
      operationId: lucid_list_epochs
      summary: List epochs
      x-speakeasy-mcp:
        name: lucid_list_epochs
        description: List epochs with optional filtering and pagination.
      parameters:
        - in: query
          name: project_id
          schema: {type: string}
        - in: query
          name: status
          schema: {type: string}
        - in: query
          name: page
          schema: {type: integer, minimum: 1}
        - in: query
          name: per_page
          schema: {type: integer, minimum: 1, maximum: 100}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, epochs, pagination]
                properties:
                  success: {type: boolean}
                  epochs:
                    type: array
                    items: {$ref: '#/components/schemas/Epoch'}
                  pagination: {$ref: '#/components/schemas/Pagination'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.epochs.list();

              console.log(result);
            }

            run();
    post:
      tags: [Epochs]
      operationId: lucid_create_epoch
      summary: Create epoch
      x-speakeasy-mcp:
        name: lucid_create_epoch
        description: Create a new epoch.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                project_id: {type: string}
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                required: [success, epoch]
                properties:
                  success: {type: boolean}
                  epoch: {$ref: '#/components/schemas/Epoch'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.epochs.create({});

              console.log(result);
            }

            run();
  /v1/epochs/{epoch_id}:
    get:
      tags: [Epochs]
      operationId: lucid_get_epoch
      summary: Get epoch
      x-speakeasy-mcp:
        name: lucid_get_epoch
        description: Get an epoch by epoch_id.
      parameters:
        - in: path
          name: epoch_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, epoch]
                properties:
                  success: {type: boolean}
                  epoch: {$ref: '#/components/schemas/Epoch'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.epochs.get({
                epochId: "<id>",
              });

              console.log(result);
            }

            run();
  /v1/epochs/{epoch_id}/retry:
    post:
      tags: [Epochs]
      operationId: lucid_retry_epoch
      summary: Retry failed epoch
      x-speakeasy-mcp:
        name: lucid_retry_epoch
        description: Retry a failed epoch.
      parameters:
        - in: path
          name: epoch_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, epoch]
                properties:
                  success: {type: boolean}
                  epoch:
                    type: object
                    required: [epoch_id, status]
                    properties:
                      epoch_id: {type: string}
                      status: {type: string}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.epochs.retry({
                epochId: "<id>",
              });

              console.log(result);
            }

            run();
  /v1/epochs/{epoch_id}/verify:
    get:
      tags: [Epochs]
      operationId: lucid_verify_epoch
      summary: Verify epoch anchor
      x-speakeasy-mcp:
        name: lucid_verify_epoch
        description: Verify an epoch anchor on-chain.
      parameters:
        - in: path
          name: epoch_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, valid]
                properties:
                  success: {type: boolean}
                  valid: {type: boolean}
                  on_chain_root: {type: string, nullable: true}
                  expected_root: {type: string, nullable: true}
                  tx_signature: {type: string, nullable: true}
                  error: {type: string, nullable: true}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.epochs.verify({
                epochId: "<id>",
              });

              console.log(result);
            }

            run();
  /v1/epochs/{epoch_id}/transaction:
    get:
      tags: [Epochs]
      operationId: lucid_get_epoch_transaction
      summary: Get epoch anchoring transaction
      x-speakeasy-mcp:
        name: lucid_get_epoch_transaction
        description: Get epoch anchoring transaction details.
      parameters:
        - in: path
          name: epoch_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, tx_signature]
                properties:
                  success: {type: boolean}
                  tx_signature: {type: string}
                  slot: {type: integer}
                  block_time: {type: integer}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.epochs.getTransaction({
                epochId: "<id>",
              });

              console.log(result);
            }

            run();
  /v1/receipts/commit-root:
    post:
      tags: [Epochs]
      operationId: lucid_commit_epoch_root
      summary: Commit epoch root
      x-speakeasy-mcp:
        name: lucid_commit_epoch_root
        description: Commit an epoch root to chain.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                project_id: {type: string}
                epoch_id: {type: string}
                force: {type: boolean}
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                required: [success, epoch_id, root, tx]
                properties:
                  success: {type: boolean}
                  epoch_id: {type: string}
                  root: {type: string}
                  tx: {type: string}
                  leaf_count: {type: integer}
        '400': {$ref: '#/components/responses/BadRequest'}
        '503': {$ref: '#/components/responses/ServiceUnavailable'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.epochs.commitRoot({});

              console.log(result);
            }

            run();
  /v1/receipts/commit-roots-batch:
    post:
      tags: [Epochs]
      operationId: lucid_commit_epoch_roots_batch
      summary: Commit multiple epoch roots
      x-speakeasy-mcp:
        name: lucid_commit_epoch_roots_batch
        description: Commit multiple epoch roots.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [epoch_ids]
              properties:
                epoch_ids:
                  type: array
                  items: {type: string}
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                required: [success, total, successful_count, failed_count, results]
                properties:
                  success: {type: boolean}
                  total: {type: integer}
                  successful_count: {type: integer}
                  failed_count: {type: integer}
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        success: {type: boolean}
                        epoch_id: {type: string}
                        root: {type: string}
                        signature: {type: string}
                        error: {type: string}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.epochs.commitRootsBatch({
                epochIds: [
                  "<value 1>",
                ],
              });

              console.log(result);
            }

            run();
  /v1/anchoring/health:
    get:
      tags: [Epochs]
      operationId: lucid_get_anchoring_health
      summary: Anchoring service health
      x-speakeasy-mcp:
        name: lucid_get_anchoring_health
        description: Health check for anchoring service.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, connected]
                properties:
                  success: {type: boolean}
                  connected: {type: boolean}
                  network: {type: string}
                  authority: {type: string}
                  mock_mode: {type: boolean}
                  error: {type: string}
        '503': {$ref: '#/components/responses/ServiceUnavailable'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.epochs.getAnchoringHealth();

              console.log(result);
            }

            run();
  /v1/epochs/ready:
    get:
      tags: [Epochs]
      operationId: lucid_list_epochs_ready
      summary: Get epochs ready for finalization
      x-speakeasy-mcp:
        name: lucid_list_epochs_ready
        description: List epochs ready for finalization.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpochsReadyResponse'
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.epochs.listReady();

              console.log(result);
            }

            run();
  /v1/epochs/stats:
    get:
      tags: [Epochs]
      operationId: lucid_get_epoch_stats
      summary: Epoch statistics
      x-speakeasy-mcp:
        name: lucid_get_epoch_stats
        description: Get epoch statistics.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpochStatsResponse'
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.epochs.getStats();

              console.log(result);
            }

            run();
  # ===========================================================================
  # Payouts
  # ===========================================================================
  /v1/payouts/calculate:
    post:
      tags: [Payouts]
      operationId: lucid_calculate_payout
      summary: Calculate payout split
      x-speakeasy-mcp:
        name: lucid_calculate_payout
        description: Calculate payout split between recipients.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutCalculateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, payout]
                properties:
                  success: {type: boolean}
                  payout: {$ref: '#/components/schemas/Payout'}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.payouts.calculate({
                runId: "<id>",
                totalAmountLamports: 721074,
                computeWallet: "<value>",
              });

              console.log(result);
            }

            run();
  /v1/payouts/from-receipt:
    post:
      tags: [Payouts]
      operationId: lucid_payout_from_receipt
      summary: Create payout from receipt token data
      x-speakeasy-mcp:
        name: lucid_payout_from_receipt
        description: Create payout split from receipt token data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayoutFromReceiptRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, payout]
                properties:
                  success: {type: boolean}
                  payout: {$ref: '#/components/schemas/Payout'}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.payouts.createFromReceipt({
                runId: "<id>",
                tokensIn: 844317,
                tokensOut: 600261,
                pricePer1kTokensLamports: "<value>",
                computeWallet: "<value>",
              });

              console.log(result);
            }

            run();
  /v1/payouts/{run_id}:
    get:
      tags: [Payouts]
      operationId: lucid_get_payout
      summary: Get payout by run_id
      x-speakeasy-mcp:
        name: lucid_get_payout
        description: Get payout for a run_id.
      parameters:
        - in: path
          name: run_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, payout]
                properties:
                  success: {type: boolean}
                  payout: {$ref: '#/components/schemas/Payout'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.payouts.get({
                runId: "<id>",
              });

              console.log(result);
            }

            run();
  /v1/payouts/{run_id}/verify:
    get:
      tags: [Payouts]
      operationId: lucid_verify_payout
      summary: Verify payout split
      x-speakeasy-mcp:
        name: lucid_verify_payout
        description: Verify payout split integrity.
      parameters:
        - in: path
          name: run_id
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, valid]
                properties:
                  success: {type: boolean}
                  valid: {type: boolean}
                  total_matches: {type: boolean}
                  recipients_valid: {type: boolean}
                  hash_valid: {type: boolean}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.payouts.verify({
                runId: "<id>",
              });

              console.log(result);
            }

            run();
  # ===========================================================================
  # Health
  # ===========================================================================
  /health:
    get:
      tags: [Health]
      operationId: check_system_health
      summary: Overall system health
      x-speakeasy-mcp:
        name: check_system_health
        description: Check overall system health including all dependencies.
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemHealth'
        '503':
          description: Degraded or down
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemHealth'
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.health.checkSystemHealth();

              console.log(result);
            }

            run();
  /health/live:
    get:
      tags: [Health]
      operationId: check_liveness
      summary: Liveness probe
      x-speakeasy-mcp:
        name: check_liveness
        description: Liveness probe - is the application alive?
      responses:
        '200':
          description: Alive
          content:
            application/json:
              schema:
                type: object
                required: [status, timestamp, uptime]
                properties:
                  status: {type: string, example: alive}
                  timestamp: {type: string, format: date-time}
                  uptime: {type: number}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.health.checkLiveness();

              console.log(result);
            }

            run();
  /health/ready:
    get:
      tags: [Health]
      operationId: check_readiness
      summary: Readiness probe
      x-speakeasy-mcp:
        name: check_readiness
        description: Readiness probe - is the application ready to serve traffic?
      responses:
        '200':
          description: Ready
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status: {type: string}
                  timestamp: {type: string, format: date-time}
                  dependencies:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HealthCheckResult'
        '503':
          description: Not ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: {type: string}
                  timestamp: {type: string, format: date-time}
                  error: {type: string}
                  dependencies:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HealthCheckResult'
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.health.checkReadiness();

              console.log(result);
            }

            run();
  /health/database:
    get:
      tags: [Health]
      operationId: check_database_health
      summary: Database health check
      x-speakeasy-mcp:
        name: check_database_health
        description: Check database connectivity and latency.
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResult'
        '503':
          description: Unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResult'
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.health.checkDatabaseHealth();

              console.log(result);
            }

            run();
  /health/redis:
    get:
      tags: [Health]
      operationId: check_redis_health
      summary: Redis health check
      x-speakeasy-mcp:
        name: check_redis_health
        description: Check Redis connectivity and latency.
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResult'
        '503':
          description: Unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResult'
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.health.checkRedisHealth();

              console.log(result);
            }

            run();
  /health/nango:
    get:
      tags: [Health]
      operationId: check_nango_health
      summary: Nango service health check
      x-speakeasy-mcp:
        name: check_nango_health
        description: Check Nango service connectivity and latency.
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResult'
        '503':
          description: Unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResult'
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.health.checkNangoHealth();

              console.log(result);
            }

            run();
  /health/detailed:
    get:
      tags: [Health]
      operationId: get_detailed_health
      summary: Detailed health with statistics
      x-speakeasy-mcp:
        name: get_detailed_health
        description: Detailed health check including system resources and statistics.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [status, timestamp, uptime, version, environment, dependencies]
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded, down]
                  timestamp: {type: string, format: date-time}
                  uptime: {type: number}
                  version: {type: string}
                  environment: {type: string}
                  dependencies:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HealthCheckResult'
                  statistics: {type: object, additionalProperties: true, nullable: true}
                  resources:
                    type: object
                    properties:
                      memory: {type: object, additionalProperties: true}
                      cpu: {type: object, additionalProperties: true}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.health.getDetailedHealth();

              console.log(result);
            }

            run();
  # ===========================================================================
  # Agents — Core MMR
  # ===========================================================================
  /api/agents/init:
    post:
      tags: [Agents]
      operationId: init_agent
      summary: Initialize an AI agent
      x-speakeasy-mcp:
        name: init_agent
        description: Initialize or load an AI agent for MMR-based proof-of-contribution.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentInitRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agentId, initialized]
                properties:
                  success: {type: boolean}
                  agentId: {type: string}
                  initialized: {type: boolean}
                  stats: {$ref: '#/components/schemas/AgentStats'}
                  message: {type: string}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.initAgent({
                agentId: "<id>",
              });

              console.log(result);
            }

            run();
  /api/agents/epoch:
    post:
      tags: [Agents]
      operationId: process_agent_epoch
      summary: Process an epoch for an agent
      x-speakeasy-mcp:
        name: process_agent_epoch
        description: Process an epoch of vectors for an AI agent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentEpochRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agentId, epochNumber, vectorCount, mmrRoot]
                properties:
                  success: {type: boolean}
                  agentId: {type: string}
                  epochNumber: {type: integer}
                  vectorCount: {type: integer}
                  mmrRoot: {type: string}
                  ipfsCid: {type: string}
                  transactionSignature: {type: string}
                  gasCost: {$ref: '#/components/schemas/GasCost'}
                  message: {type: string}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.processAgentEpoch({
                agentId: "<id>",
                vectors: [
                  "<value 1>",
                  "<value 2>",
                  "<value 3>",
                ],
              });

              console.log(result);
            }

            run();
  /api/agents/batch-epochs:
    post:
      tags: [Agents]
      operationId: process_agent_batch_epochs
      summary: Process multiple epochs in batch
      x-speakeasy-mcp:
        name: process_agent_batch_epochs
        description: Process multiple epochs in batch for one or more agents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentBatchEpochsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, processedEpochs, results, totalGasCost]
                properties:
                  success: {type: boolean}
                  processedEpochs: {type: integer}
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        agentId: {type: string}
                        epochNumber: {type: integer}
                        mmrRoot: {type: string}
                        ipfsCid: {type: string}
                        transactionSignature: {type: string}
                        gasCost: {$ref: '#/components/schemas/GasCost'}
                  totalGasCost: {$ref: '#/components/schemas/GasCost'}
                  message: {type: string}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.processAgentBatchEpochs({
                epochs: [],
              });

              console.log(result);
            }

            run();
  /api/agents/proof:
    post:
      tags: [Agents]
      operationId: generate_agent_proof
      summary: Generate proof of contribution
      x-speakeasy-mcp:
        name: generate_agent_proof
        description: Generate cryptographic proof of contribution for a specific vector.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentProofRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agentId, vectorText, epochNumber, proof, verified]
                properties:
                  success: {type: boolean}
                  agentId: {type: string}
                  vectorText: {type: string}
                  epochNumber: {type: integer}
                  proof: {type: object, additionalProperties: true}
                  verified: {type: boolean}
                  message: {type: string}
        '400': {$ref: '#/components/responses/BadRequest'}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.generateAgentProof({
                agentId: "<id>",
                vectorText: "<value>",
                epochNumber: 73472,
              });

              console.log(result);
            }

            run();
  /api/agents/{agentId}/stats:
    get:
      tags: [Agents]
      operationId: get_agent_stats
      summary: Get agent statistics
      x-speakeasy-mcp:
        name: get_agent_stats
        description: Get statistics and current status for an AI agent.
      parameters:
        - in: path
          name: agentId
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, stats]
                properties:
                  success: {type: boolean}
                  stats: {$ref: '#/components/schemas/AgentStats'}
                  message: {type: string}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.getAgentStats({
                agentId: "<id>",
              });

              console.log(result);
            }

            run();
  /api/agents/{agentId}/history:
    get:
      tags: [Agents]
      operationId: get_agent_history
      summary: Get agent MMR root history
      x-speakeasy-mcp:
        name: get_agent_history
        description: Get an agent's MMR root history across epochs.
      parameters:
        - in: path
          name: agentId
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agentId, history, totalEpochs]
                properties:
                  success: {type: boolean}
                  agentId: {type: string}
                  history:
                    type: array
                    items: {$ref: '#/components/schemas/AgentHistoryEntry'}
                  totalEpochs: {type: integer}
                  message: {type: string}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.getAgentHistory({
                agentId: "<id>",
              });

              console.log(result);
            }

            run();
  /api/agents/{agentId}/root:
    get:
      tags: [Agents]
      operationId: get_agent_root
      summary: Get current MMR root for agent
      x-speakeasy-mcp:
        name: get_agent_root
        description: Get the current MMR root for an AI agent.
      parameters:
        - in: path
          name: agentId
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agentId, currentRoot]
                properties:
                  success: {type: boolean}
                  agentId: {type: string}
                  currentRoot: {type: string}
                  message: {type: string}
        '404': {$ref: '#/components/responses/NotFound'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.getAgentRoot({
                agentId: "<id>",
              });

              console.log(result);
            }

            run();
  /api/agents/{agentId}/verify:
    get:
      tags: [Agents]
      operationId: verify_agent_mmr
      summary: Verify MMR integrity for agent
      x-speakeasy-mcp:
        name: verify_agent_mmr
        description: Verify MMR integrity for an AI agent.
      parameters:
        - in: path
          name: agentId
          required: true
          schema: {type: string}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, agentId, verification]
                properties:
                  success: {type: boolean}
                  agentId: {type: string}
                  verification: {type: object, additionalProperties: true}
                  message: {type: string}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.verifyAgentMmr({
                agentId: "<id>",
              });

              console.log(result);
            }

            run();
  /api/agents:
    get:
      tags: [Agents]
      operationId: list_agents
      summary: List all registered agents
      x-speakeasy-mcp:
        name: list_agents
        description: List all registered AI agents with their stats.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, totalAgents, agents]
                properties:
                  success: {type: boolean}
                  totalAgents: {type: integer}
                  agents:
                    type: array
                    items: {$ref: '#/components/schemas/AgentStats'}
                  message: {type: string}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.listAgents();

              console.log(result);
            }

            run();
  # ===========================================================================
  # Agents — Planner (Phase 3)
  # ===========================================================================
  /api/agents/plan:
    post:
      tags: [Agents]
      operationId: plan_agent_workflow
      summary: Plan a workflow from a goal
      x-speakeasy-mcp:
        name: plan_agent_workflow
        description: Plan a workflow from a natural language goal using CrewAI.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentPlanRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, goal, flowspec, reasoning]
                properties:
                  success: {type: boolean}
                  goal: {type: string}
                  flowspec: {type: object, additionalProperties: true}
                  reasoning: {type: string}
                  complexity: {type: string}
                  workflowId: {type: string}
                  execution: {type: object, additionalProperties: true}
                  executionError: {type: string}
                  message: {type: string}
        '400': {$ref: '#/components/responses/BadRequest'}
        '503': {$ref: '#/components/responses/ServiceUnavailable'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.planAgentWorkflow({
                goal: "<value>",
              });

              console.log(result);
            }

            run();
  /api/agents/accomplish:
    post:
      tags: [Agents]
      operationId: accomplish_agent_goal
      summary: Plan and execute a workflow in one call
      x-speakeasy-mcp:
        name: accomplish_agent_goal
        description: Plan and execute a workflow in one call via the Agent Orchestrator.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentAccomplishRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, goal]
                properties:
                  success: {type: boolean}
                  goal: {type: string}
                  result: {type: object, additionalProperties: true}
                  execution: {type: object, additionalProperties: true}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.accomplishAgentGoal({
                goal: "<value>",
              });

              console.log(result);
            }

            run();
  /api/agents/accomplish/preview:
    post:
      tags: [Agents]
      operationId: preview_agent_workflow
      summary: Preview a workflow without executing
      x-speakeasy-mcp:
        name: preview_agent_workflow
        description: Preview a planned workflow (dry run) without executing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [goal]
              properties:
                goal: {type: string}
                context: {type: object, additionalProperties: true}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, preview, flowspec]
                properties:
                  success: {type: boolean}
                  preview: {type: object, additionalProperties: true}
                  flowspec: {type: object, additionalProperties: true}
                  reasoning: {type: string}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.previewAgentWorkflow({
                goal: "<value>",
              });

              console.log(result);
            }

            run();
  /api/agents/history/{tenantId}:
    get:
      tags: [Agents]
      operationId: get_agent_orchestrator_history
      summary: Get agent execution history for a tenant
      x-speakeasy-mcp:
        name: get_agent_orchestrator_history
        description: Get agent execution history for a specific tenant.
      parameters:
        - in: path
          name: tenantId
          required: true
          schema: {type: string}
        - in: query
          name: limit
          schema: {type: integer, minimum: 1}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, tenantId, history]
                properties:
                  success: {type: boolean}
                  tenantId: {type: string}
                  history:
                    type: array
                    items: {type: object, additionalProperties: true}
                  stats: {type: object, additionalProperties: true}
                  message: {type: string}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.getAgentOrchestratorHistory({
                tenantId: "<id>",
              });

              console.log(result);
            }

            run();
  /api/agents/orchestrator/health:
    get:
      tags: [Agents]
      operationId: check_agent_orchestrator_health
      summary: Agent orchestrator health check
      x-speakeasy-mcp:
        name: check_agent_orchestrator_health
        description: Check health of all agent orchestrator services.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, health]
                properties:
                  success: {type: boolean}
                  health: {type: object, additionalProperties: true}
                  message: {type: string}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.checkAgentOrchestratorHealth();

              console.log(result);
            }

            run();
  /api/agents/execute:
    post:
      tags: [Agents]
      operationId: execute_agent_flowspec
      summary: Execute a FlowSpec
      x-speakeasy-mcp:
        name: execute_agent_flowspec
        description: Execute a FlowSpec with automatic executor selection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [flowspec, context]
              properties:
                flowspec: {type: object, additionalProperties: true}
                context:
                  type: object
                  required: [tenantId]
                  properties:
                    tenantId: {type: string}
                    variables: {type: object, additionalProperties: true}
                executor:
                  type: string
                  enum: [n8n, langgraph]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success]
                properties:
                  success: {type: boolean}
                  result: {type: object, additionalProperties: true}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.executeAgentFlowspec({
                flowspec: {
                  "key": "<value>",
                  "key1": "<value>",
                  "key2": "<value>",
                },
                context: {
                  tenantId: "<id>",
                },
              });

              console.log(result);
            }

            run();
  /api/agents/validate:
    post:
      tags: [Agents]
      operationId: validate_flowspec
      summary: Validate a FlowSpec structure
      x-speakeasy-mcp:
        name: validate_flowspec
        description: Validate a FlowSpec structure without executing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: FlowSpec object to validate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [success, validation]
                properties:
                  success: {type: boolean}
                  validation: {type: object, additionalProperties: true}
                  message: {type: string}
        '400': {$ref: '#/components/responses/BadRequest'}
        '500': {$ref: '#/components/responses/InternalServerError'}
      x-codeSamples:
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { RaijinLabsLucidAi } from "raijin-labs-lucid-ai";

            const raijinLabsLucidAi = new RaijinLabsLucidAi();

            async function run() {
              const result = await raijinLabsLucidAi.agents.validateFlowspec({
                "key": "<value>",
                "key1": "<value>",
              });

              console.log(result);
            }

            run();
  /api/agents/planner/info:
    get:
      tags: [Agents]
      operationId: get_planner_info
      summary: Get planner service info
      x-speakeasy-mcp:
        name: get_planner_info
        description: Get agent planner service information and status.
      responses:
        '200':
          description: OK
[...]
